
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Oh The Places I've Been</title>
    </head>
    <body>
        <div class='container'>
            <h1>Places</h1>

            {% if places is not empty %}
                <p>Here Are the Places You've Been:</p>
                <ul>
                    {% for place in places %}
                        <hr>
                        <li>
                        <h4>{{ place.getCity }}</h4>
                        <p>People should see: {{ place.getMustSee }} </p>
                        <p>Stayed for: {{ place.getHowLong }} days </p>
                        <hr>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}

            <form action='/places' method='post'>
                <label for='city'>Enter City:</label>
                <input id='city' name='city' type='text'>
                <br />
                <label for='must_see'>Enter Something People Must See When Visiting:</label>
                <input id='must_see' name='must_see' type='text'>
                <br />
                <label for='how_long'>Enter How Many Days You Visited For:</label>
                <input id='how_long' name='how_long' type='text'>
                <br />
                <button type='submit'>Add Place</button>
            </form>
            <form action='/delete_places' method='post'>
                <button type='submit'>Clear Places</button>
            </form>
        </div> <!-- End Container Div -->
    </body>
</html>
